* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #14285b;
  display: flex;
  justify-content: center;

  align-items: center;
  p {
    text-align: center;
    font-size: 23px;
    line-height: 25px;

    max-width: 1200px;
    width: 80vw;
    overflow-wrap: break-word;
    letter-spacing: 1px;
    color: white;

    border: 1px solid rgb(153, 153, 153);
    margin: 0 50px;
    padding: 15px 10px;
    box-shadow: 0 1px 2px rgba(110, 218, 148, 0.07),
      0 2px 4px rgba(110, 218, 148, 0.07), 0 4px 8px rgba(110, 218, 148, 0.07),
      0 8px 16px rgba(110, 218, 148, 0.07),
      0 16px 32px rgba(110, 218, 148, 0.07),
      0 32px 64px rgba(110, 218, 148, 0.07);
    font-family: "Staatliches", cursive;
    letter-spacing: 2px;
  }
  h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    font-family: "Staatliches", cursive;
    letter-spacing: 3px;
    text-align: center;
  }

  form {
    margin-top: 20px;
    input {
      width: 290px;
      height: 30px;
      box-shadow: 0 1px 2px rgba(110, 218, 148, 0.07),
        0 2px 4px rgba(110, 218, 148, 0.07), 0 4px 8px rgba(110, 218, 148, 0.07),
        0 8px 16px rgba(110, 218, 148, 0.07),
        0 16px 32px rgba(110, 218, 148, 0.07),
        0 32px 64px rgba(110, 218, 148, 0.07);
    }
    input[type="text"] {
      font-size: 16px;
      padding-left: 5px;
    }
  }
  button {
    height: 28px;
    width: 100px;
    font-family: "Staatliches", cursive;
    letter-spacing: 2px;
    /* position: relative; */
    /* bottom: 1px; */
    box-shadow: 0 1px 2px rgba(110, 218, 148, 0.07),
      0 2px 4px rgba(110, 218, 148, 0.07), 0 4px 8px rgba(110, 218, 148, 0.07),
      0 8px 16px rgba(110, 218, 148, 0.07),
      0 16px 32px rgba(110, 218, 148, 0.07),
      0 32px 64px rgba(110, 218, 148, 0.07);
    font-size: 16px;
  }
}

.app__main {
  /*  border: 2px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #294da2;
  border-radius: 15px;
  margin-top: 45px;
  background: #314475;
  background: linear-gradient(90deg, #314475 0%, #314475 0%, #4c63a0 100%);
  box-shadow: 0 1px 2px rgba(110, 218, 148, 0.07),
    0 2px 4px rgba(110, 218, 148, 0.07), 0 4px 8px rgba(110, 218, 148, 0.07),
    0 8px 16px rgba(110, 218, 148, 0.07), 0 16px 32px rgba(110, 218, 148, 0.07),
    0 32px 64px rgba(110, 218, 148, 0.07);
}

.flag {
  background: transparent;
  max-width: 350px;
  height: 300px;
  object-fit: contain;
  margin-top: 20px;

  /*   box-shadow: 0 1px 2px rgba(110, 218, 148, 0.07),
    0 2px 4px rgba(110, 218, 148, 0.07), 0 4px 8px rgba(110, 218, 148, 0.07),
    0 8px 16px rgba(110, 218, 148, 0.07), 0 16px 32px rgba(110, 218, 148, 0.07),
    0 32px 64px rgba(110, 218, 148, 0.07); */
}

.heading {
  margin-top: 80px;
  font-size: 38px;
  font-family: "Staatliches", cursive;
  letter-spacing: 2.5px;
}

.loading {
  display: flex;
  justify-content: center;
  position: relative;
  top: 45vh;
}
